.dialog_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;  /* Ensures content inside does not overflow */
	max-height: 70vh; /* Prevents the dialog from growing too large */
}

.image-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* overflow-y: auto; */
	max-height: 500px; /* Prevents images from overflowing */
	margin-left: 15px;
}

/* .captured-images {
	border: 1px solid black;
	box-shadow: grey;
} */

.image-section img {
	width: 180px;
	height: 250px;
}

button {
	border-radius: 8px;
	padding: 4px;
	font-size: 10px;
	font-family: inherit;
	background-color: #000000;
	cursor: pointer;
	transition: border-color 0.25s;
	color: white
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* .camera-section { */
	/* width: 20% */
/* } */

.image-section {
	width: 80%
}

.image-section .rmv-button {
	background-color: red;
}

.cpt-button {
	font-size: 10px;
	background-color: #000000;
	color: white;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	button {
		background-color: #f9f9f9;
	}
}

@media (max-width: 768px) {
	.modal-dialog {
		width: 95vw !important;  /* Full width on small screens */
		height: 90vh !important;  /* Full height */
		max-width: none;
		max-height: none;
	}

	.dialog_container {
		flex-direction: column;  /* Stack items vertically */
		width: 100%;
		max-height: 70vh;
	}

	.image-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow-y: auto;
		max-height: 50vh;  /* Ensure images stay inside */
	}

	.camera-section {
		width: 100% !important;
	}

	.image-section img {
		width: 180px;
		height: 250px;
	}
}

.modal-content {
	overflow: auto !important; /* Allow scrolling inside the modal */
	max-height: 90vh; /* Prevents overflow */
}
